.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 18px;
}
.grid-item {
  background-color: white;
  border: 3px solid aliceblue;
  font-size: 18px;
  text-align: center;
}

/* img {
    border-radius: 50%;
  } */

.w3-sidebar{
  width:18%;
  background-color: #696969;
  color:white;
  height: 700px;
  }

.menuHeader{
  background-color: #00BFFF;
  height:80px;
  position: relative;
  top:-10px;
}

.menuName{
  position: relative;
  top: 20px;
  font-size: 30px;
}

.pagecontent{
  margin-left:18%;
  /* width: 82%; */
  background-color: #eef8ff;
  height: 656px;
}

.mainheader{
  background-color: #c5c5c5;
  color: dimgray;
  height:80px;
}

.headerName{
  font-size: 30px;
  position: relative;
  left: 6%;
  top:15px;
}

.row1{
  background-color: #00BFFF;
  margin-left: 0px;
  margin-right: 0px;
}

.edittrashDiv{
  position: relative;
  top:-6px;
}
