.parent-container {
    position: relative;
    height:100%;
    width: 100%;
  }

  .child-container {
    color: lavender;
    text-align: center;
    position: center;

  }
  .desc {
    font-family: Georgia;
    font-size: 17px;
  }

  .thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    min-width: 40%;
    border-radius: 5px;
  }

  .thumbnail-description {
    min-height: 40px;
  }

  .thumbnail:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
  }

  .logincontainer{
    position: relative;
    top: 200px;
  }
  .logindiv{
    background: royalblue;
    color: white;
    border: .2em;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    height: 400px;
    top:-100px;
  }
  .username{
      position: relative;
      top: 15%;
  }

  .password
  {
    position: relative;
    top: 20%;
  }
  .logintext{
      position: relative;
      top: 5%;
      text-align: center;
  }
  .loginbtn{
    position: relative;
    left: 40%;
    top: 100px;
    background-color: blue;
  }

  .text{
      text-align: center;
      position: relative;
      top: 32%;
      color: white;
  }
  .text1{
    color: gray;
}
