.signupcontainer{
  position: relative;
  left: 25%;
  top: 130px;

}
.signdiv{
  background: royalblue;
  color: white;
  border: .2em;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  height: 500px;
  position: relative;
  top: -135px;
}
.username{
    position: relative;
    top: 10%;
}

.password
{
  position: relative;
  top: 10%;
}
.signuptext{
    position: relative;
    top: 5%;
    text-align: center;
}
.signupbtn{
  position: relative;
  left: 44%;
  top: 100px;
  background-color: blue;
}

.text{
    text-align: center;
    position: relative;
    top: 32%;
    color: white;
}
.w3-sidebar{
  width:20%;
  background-color: #696969;
  color:white;
  height: 600px;
  }

.menuHeader{
  background-color: #00BFFF;
  height:80px;
  position: relative;
  top:-10px;
}

.menuName{
  position: relative;
  top: 20px;
  font-size: 30px;
}

.pagecontent{
  margin-left:20%;
  background-color: #eef8ff;
  height: 620px;
}

.mainheader{
  background-color: #c5c5c5;
  color: dimgray;
  height:80px;
}

.headerName{
  font-size: 30px;
  position: relative;
  left: 6%;
  top:15px;
}



.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color :white;
  padding: 20px;
}
.grid-item {
  background-color: #002E6E;
  border: 3px solid white;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

