<div class="container signupcontainer">
        <div class="row">
            <div class="col-md-4">
    
            </div>
            <div class="col-md-4 signdiv">
                <h4 class="signuptext">SignUp</h4>
                <input  class="form-control username" [(ngModel)]='firstName' type="text" placeholder="First Name">
                <br>
                <input  class="form-control username" [(ngModel)]='lastName' type="text" placeholder="Last Name" >
                <br>
                <!-- <input  class="form-control username" [(ngModel)]='userName' type="text" placeholder="Username" >
                <br> -->
                <input  class="form-control username" [(ngModel)]='email' type="text" placeholder="Email" >
                <br>
                <input  class="form-control username" [(ngModel)]='phonenumber' type="number" placeholder="Phone number" >
                <br>
                <input  class="form-control password" [(ngModel)]='password' type="password" placeholder="Password" >
                <br>
                <button (click)="signupClick()"  class="btn btn-dark  signupbtn" type="button">SignUp</button>
            </div>
            <div class="col-md-4">
    
            </div>
        </div>
    </div>